Debug/
Release/
*.opensdf
*.sdf
*.suo
*.user
ipch/
# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
irrKlang-1.5.0/lib/Win32-visualStudio/irrKlang.lib
glew/lib/glew32.lib
glfw/lib-msvc100/glfw3.lib
Base/Base.vcxproj.filters
Base/Base.vcxproj
